@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ---------------- */
.margin-top {
  margin-top: 128px;
}
@media (max-width: 1180px) {
  .margin-top {
    margin-top: calc(64px + 64 * ((100vw - 320px) / 860));
  }
}

.small-margin-top {
  margin-top: 64px;
}
@media (max-width: 1180px) {
  .small-margin-top {
    margin-top: calc(32px + 32 * ((100vw - 320px) / 860));
  }
}

.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 8px 16px;
}

.background-gradient {
  background: linear-gradient(95deg, #96A6AF 0%, #07A0E1 100%);
}

.title {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  color: #181A3A;
}

.h2-title {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 32px;
  text-transform: uppercase;
  color: #181A3A;
}
@media (max-width: 1180px) {
  .h2-title {
    font-size: calc(24px + 12 * ((100vw - 320px) / 860));
  }
}

.h3-title {
  font-family: "Times New Roman";
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  color: #181A3A;
}
@media (max-width: 1180px) {
  .h3-title {
    font-size: calc(24px + 6 * ((100vw - 320px) / 860));
  }
}

.gray-title {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 18px */
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #97A7BA;
}
@media (max-width: 1180px) {
  .gray-title {
    font-size: calc(18px + 2 * ((100vw - 320px) / 860));
  }
}

.body-title {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  text-transform: capitalize;
  color: #181A3A;
}
@media (max-width: 1180px) {
  .body-title {
    font-size: calc(20px + 2 * ((100vw - 320px) / 860));
  }
}

body {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #181A3A;
}

.header {
  z-index: 100;
  position: fixed;
  width: 100%;
  padding: 4px;
}
.header__container {
  height: 100%;
  display: flex;
  align-items: center;
}
.header__contact-us {
  max-height: 135px;
  margin-top: 16px;
  display: block;
  background-color: #fff;
  padding: 8px 16px;
  text-transform: uppercase;
  border-radius: 5px;
  line-height: 100%;
  font-weight: 700;
  color: #181A3A;
  font-size: 16px;
  margin-right: 16px;
}
@media (max-width: 1180px) {
  .header__contact-us {
    margin-top: calc(8px + 8 * ((100vw - 320px) / 860));
  }
}
@media (max-width: 1180px) {
  .header__contact-us {
    font-size: calc(13px + 3 * ((100vw - 320px) / 860));
  }
}
@media (max-width: 1180px) {
  .header__contact-us {
    margin-right: calc(8px + 8 * ((100vw - 320px) / 860));
  }
}

.languages {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../img/arrow.svg") 90% 50%/20px 20px no-repeat;
  max-height: 135px;
  margin-top: 16px;
  display: block;
  background-color: #fff;
  padding: 8px 32px 8px 16px;
  text-transform: uppercase;
  border-radius: 5px;
  line-height: 100%;
  font-weight: 700;
  color: #181A3A;
  font-size: 16px;
}
@media (max-width: 1180px) {
  .languages {
    margin-top: calc(8px + 8 * ((100vw - 320px) / 860));
  }
}
@media (max-width: 1180px) {
  .languages {
    font-size: calc(13px + 3 * ((100vw - 320px) / 860));
  }
}

.header__logo {
  flex: 1 1 auto;
}
.header__logo img {
  width: 70px;
  height: 70px;
}
@media (max-width: 1180px) {
  .header__logo img {
    width: calc(45px + 25 * ((100vw - 320px) / 860));
  }
}
@media (max-width: 1180px) {
  .header__logo img {
    height: calc(45px + 25 * ((100vw - 320px) / 860));
  }
}

.hero-section__container {
  padding-top: 154px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  .hero-section__container {
    padding-top: 134px;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 474px) {
  .hero-section__container {
    padding-top: 124px;
  }
}
.hero-section__body {
  margin-top: -128px;
}
@media (max-width: 991px) {
  .hero-section__body {
    margin-top: 32px;
    text-align: center;
  }
}
.hero-section__logo img {
  width: 500px;
  height: 500px;
}
@media (max-width: 1180px) {
  .hero-section__logo img {
    width: calc(220px + 280 * ((100vw - 320px) / 860));
  }
}
@media (max-width: 1180px) {
  .hero-section__logo img {
    height: calc(220px + 280 * ((100vw - 320px) / 860));
  }
}
@media (max-width: 991px) {
  .hero-section__logo img {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 991px) and (max-width: 1180px) {
  .hero-section__logo img {
    width: calc(220px + 130 * ((100vw - 320px) / 860));
  }
}
@media (max-width: 991px) and (max-width: 1180px) {
  .hero-section__logo img {
    height: calc(220px + 130 * ((100vw - 320px) / 860));
  }
}
.hero-section__title {
  font-size: 80px;
  text-transform: uppercase;
}
@media (max-width: 1180px) {
  .hero-section__title {
    font-size: calc(40px + 40 * ((100vw - 320px) / 860));
  }
}
.hero-section__subtitle {
  margin-top: 8px;
  font-size: 35px;
}
@media (max-width: 1180px) {
  .hero-section__subtitle {
    font-size: calc(22px + 13 * ((100vw - 320px) / 860));
  }
}
.hero-section__contact-us {
  display: inline-block;
  margin-top: 32px;
  padding: 16px 32px;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  border-radius: 15px;
}

.services {
  margin-top: 128px;
}
.services__list {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
@media (max-width: 1180px) {
  .services__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .services__list {
    display: block;
  }
}
.services__li {
  border-top: 2px rgba(150, 166, 175, 0.3) solid;
  border-bottom: 2px rgba(150, 166, 175, 0.3) solid;
  padding: 16px 0;
}
@media (max-width: 767px) {
  .services__li {
    border-width: 0 0 2px 0;
  }
  .services__li:first-child {
    border-width: 2px 0 2px 0;
  }
}
@media (max-width: 474px) {
  .services__li {
    padding: 8px 0;
  }
}

.service__title {
  display: flex;
  align-items: top;
}
.service__title h3 {
  flex: 1 1 auto;
  margin-right: 8px;
}
.service__title img {
  display: none;
  transition: 0.1s;
  margin-top: 4px;
  opacity: 60%;
}
@media (max-width: 767px) {
  .service__title img {
    display: block;
    width: 20px;
    height: 20px;
    padding-right: 4px;
  }
}
.service__description {
  margin-top: 16px;
  font-size: 20px;
  line-height: 1.1;
  max-width: 90%;
}
.service__description li {
  display: flex;
  align-items: baseline;
  -moz-column-gap: 8px;
       column-gap: 8px;
  margin-bottom: 8px;
}
.service__description li span {
  display: block;
}
@media (max-width: 1180px) {
  .service__description {
    font-size: calc(18px + 2 * ((100vw - 320px) / 860));
  }
}
@media (max-width: 767px) {
  .service__description {
    display: none;
    padding-bottom: 32px;
  }
}
@media (max-width: 474px) {
  .service__description {
    max-width: 98%;
  }
}

.active {
  display: block;
}
.active img {
  transform: rotate(45deg);
  padding: 0;
}

.mission {
  margin-top: 64px;
  min-height: 500px;
  background-image: url(".././img/ellipse.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
@media (max-width: 1180px) {
  .mission {
    background-position: 50% 50%;
  }
}
@media (max-width: 550px) {
  .mission {
    margin-top: 32px;
    min-height: 400px;
  }
}
.mission__container {
  padding-top: 128px;
  padding-left: 128px;
}
@media (max-width: 1180px) {
  .mission__container {
    padding-left: 0;
    text-align: center;
  }
}
@media (max-width: 550px) {
  .mission__container {
    padding: 64px 8px 8px 0;
    padding-top: 64px;
  }
}
.mission__title {
  font-family: "Arial";
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 8px;
}
.mission p {
  padding-top: 8px;
  max-width: 500px;
  font-family: "Arial";
  font-size: 24px;
  line-height: 23px;
  color: #FFFFFF;
}
@media (max-width: 1180px) {
  .mission p {
    font-size: calc(18px + 6 * ((100vw - 320px) / 860));
  }
}
@media (max-width: 1180px) {
  .mission p {
    margin: 0 auto;
  }
}

.contacts {
  margin-top: 128px;
}
.contacts ul {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}
@media (max-width: 991px) {
  .contacts ul {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .contacts ul {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}
.contacts li {
  border-top: 2px rgba(150, 166, 175, 0.3) solid;
  border-bottom: 2px rgba(150, 166, 175, 0.3) solid;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 767px) {
  .contacts li {
    border-width: 0 0 2px 0;
  }
  .contacts li:first-child {
    border-width: 2px 0 2px 0;
  }
}
@media (max-width: 474px) {
  .contacts li {
    padding: 8px 0;
  }
}
.contacts h4 {
  margin-top: 4px;
  color: #181A3A;
}

.g-01 {
  grid-area: 1/1/2/3;
}
@media (max-width: 991px) {
  .g-01 {
    grid-area: auto;
  }
}

.g-02 {
  grid-area: 1/3/2/5;
}
@media (max-width: 991px) {
  .g-02 {
    grid-area: auto;
  }
}

.g-03 {
  grid-area: 1/5/2/7;
}
@media (max-width: 991px) {
  .g-03 {
    grid-area: auto;
  }
}

.g-04 {
  grid-area: 2/1/2/4;
}
@media (max-width: 991px) {
  .g-04 {
    grid-area: auto;
  }
}

.g-05 {
  grid-area: 2/4/2/7;
}
@media (max-width: 991px) {
  .g-05 {
    grid-area: auto;
  }
}

.after-hours {
  margin-top: 16px;
  display: flex;
  gap: 8px;
}
.after-hours h4 {
  margin-top: 0;
}

.footer {
  margin-top: 128px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}
.footer span {
  display: block;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
@media (max-width: 474px) {
  .footer__container {
    flex-direction: column;
    gap: 4px;
  }
}